<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading"> Svg Sprites Demo</div>
            <div class="panel-body">
                <section>
                    <div role="button" title="Quality">
                        <a href="/home">
                            <svg>
                                <use xlink:href="/assets/sprites/sprite.svg#quality_icon"></use>
                            </svg>
                        </a>
                    </div>
                    <div role="button" title="Quality">
                        <a href="/home">
                            <svg>
                                <use xlink:href="/assets/sprites/sprite.svg#production_icon"></use>
                            </svg>
                        </a>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-warning">
            <div class="panel-heading"> Svg V2</div>
            <div class="panel-body">
                <p>
                    svg-sprites works!
                </p>
            </div>
        </div>
    </div>
</div>

