
section > div {
    display: inline-block;
    margin:5px;
    border: 2px solid #13758c;
    border-radius: 100%;
}
section > div:hover {
    background-color: #13758c;
}
section {
    width:100%;
}
[role='button'] svg {
    width:120px;
    height:120px;
    fill:#13758c;
}
[role='button']:hover svg {
    fill:#fff;
}
